[Unit]
Description=Pi Monitor (hourly)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/pi-monitor/pi-monitor.sh hourly
